@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
 
*::-webkit-scrollbar-thumb {
  background: rgba(42, 189, 233, 0.75);
  border-radius: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}
.menu {
  font-family: 'Kanit', sans-serif;
  font-size  : 15px;
  min-width  : 250px;
  color      : #fff;
  box-shadow : 0px 0px 10px 0px #000;
  position   : absolute;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.menu.align-left {
  left: 40;
  top : 50%;
  transform: translate(0, -50%); 
}

.menu.align-top-left {
  left: 40;
  top : 40; 
}

.menu.align-top {
  left: 50%;
  top : 40;
  transform: translate(-50%, 0); 
}

.menu.align-top-right {
  right: 10;
  top  : 40;
}

.menu.align-right {
  right: 40;
  top  : 50%;
  transform: translate(0, -50%); 
}

.menu.align-bottom-right {
  right : 40;
  bottom: 40;
}

.menu.align-bottom {
  left  : 50%;
  bottom: 40;
  transform: translate(-50%, 0); 
}

.menu.align-bottom-left {
  left  : 40;
  bottom: 40;
}

.menu.align-center {
  left : 50%;
  top  : 50%;
  transform: translate(-50%, -50%); 
}

.menu .head {
  background: linear-gradient(to right, #5a00a8,#8900ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ 
  text-align      : center;
  height          : 30px;
  line-height     : 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.menu .menu-items {
  max-height   : 500px;
  overflow-y   : auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(42, 44, 49, 0.75); 
}

.menu .menu-items .menu-item {
  height          : 25px;
  display         : flex;
  line-height     : 25px;
  color           : #ffffff;
  text-align      : center;
  padding-left    : 3px;
  padding-right   : 3px;
}

.menu .menu-items .menu-item > div {
  width           : 100%;
}

.menu .menu-items .menu-item > div.shortcut {
  width           : auto;
  font-size       : 17px;
  color           : #ffff00;
}

.menu .menu-items .menu-item > img {
  opacity         : 0.0;
  position        : absolute;
  width           : 24px;
  height          : 24px;
  top             : 4px;
  left            : 5px;
}

.menu .menu-items .menu-item.selected {
  background-color: #fff;
  color           : #000;
  text-shadow     : none;
}

.menu .menu-items .menu-item.selected > div.shortcut {
  color           : #ff0000;
}

.menu .menu-items .menu-item.selected > img {
  opacity         : 1.0;
}

.menu .menu-items .menu-item.selected input {
  background-color: transparent;
  color           : #000;
  text-align      : center;
  border          : none;
  outline         : none;
  width           : 30px;
  font-family     : 'Kanit', sans-serif;
  font-size       : 15px;
}